/* Fichier CSS propriété de XYLAGROUP, codé entièrement à la main
 *
 * @author Pierre Julien MARTINEZ
 *
 */

/* Menu - Body */

@font-face {
    font-family: 'PoliceXylagroup';
    src: url('policeXylagroup.eot');
    src: url('policeXylagroup.eot?#iefix') format('embedded-opentype'),
         url('policeXylagroup.ttf') format('truetype'),
         url('policeXylagroup.svg#') format('svg');
    font-weight: normal;
    font-style: normal;

}

p {
	font-size:91%;
	font-family: "PoliceXylagroup";
	text-align: justify;
	width:100%;
}

h1 {
	display: none;
}

h2 {
	color: #235d7f;
	text-align: left;
	margin-left:10%;
}

#headerP {
	width:100%;
	height:100%;
}

#bandeau {
	height:100%;
}

#bandeau img {
	width: 100%;
	-webkit-box-shadow: 0 0 15px black;
	-moz-box-shadow: 0 0 15px black;
	box-shadow: 0 0 15px black;
}


/*.subnav {
	width: 29%;
	height:9%;
	margin: 4.1% 0 1% 38%;
	position:absolute;
}*/

li.one {margin-left: 24%;}

#containerP {
	margin: 0 0 0 0;
	width: 100%;
	min-height: 1000px;
	background: url("../images/using/XylagroupX.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #FFF;
	-webkit-box-shadow: 0 0 15px black;
	-moz-box-shadow: 0 0 15px black;
	box-shadow: 0 0 15px black;
}

/* FIN Menu / Body */



/* POUR LE MENU EN DESSOUS DU BANDEAU */

div#menu {
	width:100%;
	height:50px;
	background-color: #eee;
	text-align:center;
	z-index:20;
	margin-top:-13px;	
	background: url("../images/using/rubandeau.png");
	background-repeat:no-repeat;
	background-position:-10px -1px;
	box-shadow: 0 0 15px black;
}

ul#navMenu {
	width:98%;
}

ul#navMenu li {
	width:10%;
	float : left;
	list-style : none;
	margin-top: 20px;
	margin-right:0;
	display: block;
}

ul#navMenu li a {
	width : 100%;
	text-decoration:none;
	font-size:1.2em;
}

.current {
	color:#FFC90E;
}

/* FIN CSS MENU EN DESSOUS DU BANDEAU */




/* MODIFS BOOTSTRAP TWITTER */

.row {
	width:100%;
	margin-left:0;
}

ul.dropdown-menu li a {
	text-align: left;
}

ul.dropdown-menu {
	min-width:100%;
}

ul.nav-pills li a {
	text-align: left;
}

.span12 {
	margin-left:8%;
	margin-right:8%;
	width:84%;
}

.span9 {
	margin: -24% 10% 0 8%;
}

#first {
	margin: 0 0 0 5%;
	min-height: 360px;
}

.span5 {
	margin-left:8%;
	margin-right:2%;
	width:20%;
}

#alignLeft {
	width:60%;
	margin-top:1%;
	margin-left:1%;
}

.carousel {
	text-align: left;
}

.resize {
	width:60%;
	margin-left:20%;
	border-top: 1px solid #999;
}
	

.pager a:hover {
	border: 1px solid #215675;
	background-color: #235d7f;
	
	-webkit-box-shadow: 0 1px 4px black;
	-moz-box-shadow: 0 1px 4px black;
	box-shadow: 0 1px 4px black;
	color: #FFFFFF;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}


/* FIN MODIFS BOOTSTRAP TWITTER */




/* NEWS */

#row-encadre div.span12 {
	margin: 2% 0 0 2%;
	width:97%;
}

#row-encadre {
	border:2px solid #000;
	/*margin-left:5%; /* pour le site en 1200px */
	width:100%; /* pour le site en 1200px *
	/*width:100%;*/
	padding: 2%;
	/*box-shadow: 0 0 20px black;*/
	/*box-shadow: 5px 5px black;*/
	/*box-shadow: 0 0 10px black;*/
	/*box-shadow: 2px 2px black;*/
}

#row-encadre h3 a{
	color: #2E6180;
	text-decoration:none;
}

#row-encadre div.span5 {
	margin: 0;
	width:310px;
}

#row-encadre div.span5 img {
	max-width:310px;
	margin-left:0%;
}

#row-encadre div.span6 {
	text-align: left;
	color:#2e6180;
	margin: 0 0 0 2%;
}

#row-encadre div.span6 img {
	display: inline;
	margin: -26% 0 0 100%;
}

.span6 h5 {
	color:#999;
}

#source {
	text-decoration:underline;
	font-weight:bold;
}

.little {
	background-image: url("../images/using/news.png");
	 /*background:url(data:image/gif;base64,<? base64_encode(file_get_contents('../images/using/papier_note_skotchgBlancGris.png'))?>;);*/
	height:243px;
	width:460px;
	float: left;
	margin-left: 20px;
	text-align: left;
}

.little a {
	margin: 0 0 0 24%;
}

#numNews {
	margin: -16.5% 0 0 85%;
}

#titreNews {
	margin: -12% 8% 0 25%;
	color:#795a37;
	height:21%;
}

#contenuNews {
	margin: 11.7% 8% 0 25%;
	color: #936532;
	height:20%;
}

#imageNews img {
	margin: 12% 0% 0 7%;
	-webkit-box-shadow: 0 0 8px black;
	-moz-box-shadow: 0 0 8px black;
	box-shadow: 0 0 8px black;
}


#vueSeule {
	border:2px solid #000;
	margin-left:5%; 
	width:85%; 
	padding: 2%;
}

#vueSeule div.span12 {
	margin: 2% 0 0 2%;
	width:97%;
}

#vueSeule div.span5 {
	margin: 0;
	width:310px;
}

#vueSeule div.span5 img {
	max-width:310px;
	margin-left:6%;
}

#vueSeule div.span6 {
	text-align: left;
	color:#2e6180;
	margin: 0 0 0 5%;
}
/* FIN NEWS */




/* FOOTER */

#footerP {
	margin: 0% 0 1% 0;
	height: 60px;
	background-color: #274f67;
	-webkit-box-shadow: 0 10px 8px black;
	-moz-box-shadow: 0 10px 8px black;
	box-shadow: 0 10px 8px black;
}

ul#footer li {	
	float : left;
	list-style : none;
	margin-top: 20px;
	margin-right:1%;
	display: block;
	color: white;
	font: 80% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Helvetica,Sans-Serif;
}

ul#footer li a {
	color: white;
}

.first {
	margin-left: 28%;
}
/* FIN FOOTER */




/* DEVIS & CONTACT */

#devisContact {
	height:315px;
	width:300px;
	margin: -1% 4% 0 0;
	display: inline;
	float: right;
}

.contact {
	margin: 0 0 0 1.5%;
}

.enveloppe {
	background-image: url("../images/using/feuille8.png");
	background-repeat: no-repeat;
	background-position: 0px 50px;
	width: 880px;
	min-height: 1020px;
	margin-left: 9%;
}

#beforeForm{
	padding-top:15%;
	margin-left:3%;
}

.enveloppe form {
	margin-left:4%;
}
.enveloppe dl{
	margin-left:0px;
	margin-top : 0;
}

#civilite-element input{
	display:inline;
}

#civilite-element label{
	display:inline;
	margin-right: 2%;
}

#Envoyer-element input{
	width:110px;
	height:30px;
	margin-left:10%;
	border-radius:15px;
	font-weight:bold;
	font-size:1em;
	color:#235d7f;
}

#Envoyer-element input:hover {
	border: 1px solid #215675;
	background-color: #235d7f;
	-webkit-box-shadow: 0 1px 4px black;
	-moz-box-shadow: 0 1px 4px black;
	box-shadow: 0 1px 4px black;
	color: #FFFFFF;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}


#civilite-element {
	margin-bottom:1%;
}

textarea#message {
	resize:none;
	width : 511px;
	height : 280px;
}

#replace {
	display:inline;
	float: right;
	margin-right:26%;
}

ul.errors {
	list-style:none;
	margin-left:0;
	width:700px;
}

ul.errors li {
	color: red;
	font-size:0.9em;
	font-weight:bold;
}

form dd {
	width: 626px;
	padding: 1% 0 0 2%;
	margin: 0 0 0 0;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}


input.erreur {
	border-color:rgba(255,0,0,0.8);
}

input.erreur:focus {
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(255, 0, 0, 0.8);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(255, 0, 0, 0.8);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(255, 0, 0, 0.8);
}

/* FIN DEVIS & CONTACT */

/* Flash Messenger */

.flashMessengers {
	position: relative;
}

