/* A revoir pour la police ITC Officina sans book ==> pas exactement la même..et problèmes sur Opera*/


@font-face {
    font-family: 'ITCOfficinaSansRegular';
    src: url('itc_officina_sans_book1-webfont.eot');
    src: url('itc_officina_sans_book1-webfont.eot?#iefix') format('embedded-opentype'),
         url('itc_officina_sans_book1-webfont.woff') format('woff'),
         url('itc_officina_sans_book1-webfont.ttf') format('truetype'),
         url('itc_officina_sans_book1-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* Fin  */


body {
	font-family: "ITCOfficinaSansRegular";
	width:70%;
	min-width:1000px;
	height:100%;
	text-align: center;
	margin-top:1%;
	margin-left:auto;
	margin-right:auto;
	margin-bottom :0;
	box-shadow: 0 0 15px black;
	color:#1e3847;

	/* dégradé de couleurs reprenant les couleurs du bandeau */

	background: -khtml-gradient(linear, left, right, from(#235d7f), to(#759ebb)); 
    	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#235d7f, endColorstr=#759ebb); /* IE 5.5 - 7 */
    	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#235d7f, endColorstr=#759ebb)";   /* IE 8 */

	/* IE10 */ 
	background-image: -ms-linear-gradient(left, #235d7f 0%, #759ebb 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(left, #235d7f 0%, #759ebb 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(left, #235d7f 0%, #759ebb 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left, left bottom, color-stop(0, #235d7f), color-stop(1, #759ebb));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(left, #235d7f 0%, #759ebb 100%);

	/* Proposed W3C Markup */ 
	background-image: linear-gradient(left, #235d7f 0%, #759ebb 100%);


	/* IE9 ?????????????????????*/
	/* fin dégradé de couleurs reprenant les couleurs du bandeau */

}


p {
	font-size:100%;
	font-family: "ITCOfficinaSansRegular";
	text-align: left;
	width:100%;
}

h1{
	color: #235d7f;
	text-align: left;
	margin-left:10%;
}

.headerP {
	width:100%;
	height:100%;
}


.bandeau {
	height:100%;
}


.bandeau img {
	width:100%;
}



.subnav {
	width: 29%;
	height:9%;
	margin: 4.1% 0 1% 38%;
	position:absolute;
}



li#one {margin-left: 0%;margin-right:5%;}
li#two {margin-left: 0%;margin-right:4%;}
li#three {margin-right: 5%;}


.containerP {
	margin: -1% 0 0 0;
	width:100%;
	min-height:1000px;
	box-shadow: 0 0 15px #254b61;
	background: url("../images/XylagroupX.jpg");
	background-repeat:no-repeat;
	background-position:center top;
	background-color: #FFF;
}

/**********************************************************/
/************** POUR LE MENU DANS LE BANDEAU **************/
/*********************************************************/
ul.navMenu {
	width:90%;
	margin-top : 2%;
}

ul.navMenu li {
	width:21%;
	float : left;
	list-style : none;
	margin-top: 2px;
	margin-right:0;
	display: block;
}


ul.navMenu li a {
	width : 100%;
}

ul.navMenu li img {
	width:100%;/*
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;*/
	border: 3px solid transparent;	
}

ul.navMenu li img:hover {
	box-shadow: 0 0 15px #254b61;
}

a.current {
	background-color: red;
}
/**********************************************************/
/************** FIN CSS MENU DANS LE BANDEAU **************/
/*********************************************************/


.logo img {
	width:100%;
}

.footerP {
	margin-top: 1%;
	height:200px;
	width:100%;
	background-color: blue;
}


/**********************************************************/
/**************** MODIFS BOOTSTRAP TWITTER ****************/
/*********************************************************/

.row {
	width:100%;
	margin-left:0;
}

ul.dropdown-menu li a {
	text-align: left;
}

ul.dropdown-menu{
	min-width:100%;
}

ul.nav-pills li a{
	text-align: left;
}

.span12 {
	margin-left:8%;
	margin-right:8%;
	width:84%;
}

.span5{
	margin-left:8%;
	margin-right:2%;
	width:20%;
}

#alignLeft {
	width:60%;
	margin-top:1%;
	margin-left:1%;
}

/**********************************************************/
/************** FIN MODIFS BOOTSTRAP TWITTER **************/
/*********************************************************/


/**********************************************************/
/********************** MENU FLOU ************************/
/*********************************************************/

.menuFlou li {
	display: block;
	font-size: 1.2em;
	margin-right: 15px;
	float: left;
}

.menuFlou ul {
	margin-top: 20px;
	text-align: left;
}

.menuFlou li a {
	-webkit-transition: all 0.2s ease-in 0s;
	-moz-transition: all 0.2s ease-in 0s;
	-o-transition: all 0.2s ease-in 0s;
	-ms-transition: all 0.2s ease-in 0s;
	transition: all 0.2s ease-in 0s;
	color: transparent;
	text-decoration: none;
	text-shadow: 0 0 1px #000;
	text-transform: uppercase;
	font-family: "ITCOfficinaSansRegular";
}

.menuFlou li a:hover {
	color: #254b61;
	padding-top: 5px;
	text-shadow: 0 0 1px #FFFFFF;
	font-size: 1.4em;
}

.menuFlou:hover li a {
	text-shadow: 0 0 3px #254b61;
}

