/* Fichier CSS propriété de XYLAGROUP, codé entièrement à la main
 *
 * @author Pierre Julien MARTINEZ
 *
 */

/* Menu - Body */

@font-face {
    font-family: 'PoliceXylagroup';
    src: url('policeXylagroup.eot');
    src: url('policeXylagroup.eot?#iefix') format('embedded-opentype'),
         url('policeXylagroup.ttf') format('truetype'),
         url('policeXylagroup.svg#') format('svg');
    font-weight: normal;
    font-style: normal;

}

p {
	font-size:91%;
	font-family: "PoliceXylagroup";
	text-align: justify;
	width:100%;
}

h1 {
	display: none;
}

h2 {
	color: #235d7f;
	text-align: left;
	margin-left:10%;
}

#headerP {
	width:100%;
	height:100%;
}

#bandeau {
	height:100%;
}

#bandeau img {
	width: 100%;
	-webkit-box-shadow: 0 0 15px black;
	-moz-box-shadow: 0 0 15px black;
	box-shadow: 0 0 15px black;
}


/*.subnav {
	width: 29%;
	height:9%;
	margin: 4.1% 0 1% 38%;
	position:absolute;
}*/

li.one {margin-left: 24%;}

#containerP {
	margin: 0 0 0 0;
	width: 100%;
	min-height: 1000px;
	background: url("../images/using/XylagroupX.jpg");
	background-repeat: no-repeat;
	background-position: center top;
	background-color: #FFF;
	-webkit-box-shadow: 0 0 15px black;
	-moz-box-shadow: 0 0 15px black;
	box-shadow: 0 0 15px black;
}

/* FIN Menu / Body */



/* POUR LE MENU EN DESSOUS DU BANDEAU */

div#menu {
	width:100%;
	height:50px;
	background-color: #eee;
	text-align:center;
	z-index:20;
	margin-top:-13px;	
	background: url("../images/using/rubandeau.png");
	background-repeat:no-repeat;
	background-position:-10px -1px;
	box-shadow: 0 0 15px black;
}

ul#navMenu {
	width:98%;
}

ul#navMenu li {
	width:10%;
	float : left;
	list-style : none;
	margin-top: 20px;
	margin-right:0;
	display: block;
}

ul#navMenu li a {
	width : 100%;
	text-decoration:none;
	font-size:1.2em;
}

.current {
	color:#FFC90E;
}

/* FIN CSS MENU EN DESSOUS DU BANDEAU */




/* MODIFS BOOTSTRAP TWITTER */

.row {
	width:100%;
	margin-left:0;
}

ul.dropdown-menu li a {
	text-align: left;
}

ul.dropdown-menu {
	min-width:100%;
}

ul.nav-pills li a {
	text-align: left;
}

.span12 {
	margin-left:8%;
	margin-right:8%;
	width:84%;
}

.span9 {
	margin: -24% 10% 0 8%;
}

/*
#first {
	margin: 0 0 0 5%;
	min-height: 360px;
}*/

.span5 {
	margin-left:8%;
	margin-right:2%;
	width:20%;
}

#alignLeft {
	width:60%;
	margin-top:1%;
	margin-left:1%;
}

.carousel {
	text-align: left;
}

.resize {
	width:60%;
	margin-left:20%;
	border-top: 1px solid #999;
}
	

.pager a:hover {
	border: 1px solid #215675;
	background-color: #235d7f;
	
	-webkit-box-shadow: 0 1px 4px black;
	-moz-box-shadow: 0 1px 4px black;
	box-shadow: 0 1px 4px black;
	color: #FFFFFF;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

#titreH {
	width:78%;
	margin-left:8%;
	margin-bottom:0;
}

#myModal{
	margin-top: -150px;
}

#deleteModal {
	width:540px;
	left:50%;
	margin-top: -150px;
}

#deleteModal p#q{
	display: inline;
	margin-left: 20px;
	margin-bottom: 0;
}

/* FIN MODIFS BOOTSTRAP TWITTER */




/* NEWS */

#row-encadre div.span12 {
	margin: 2% 0 0 2%;
	width:97%;
}

#row-encadre {
	border:2px solid #000;
	/*margin-left:5%; /* pour le site en 1200px */
	width:100%; /* pour le site en 1200px *
	/*width:100%;*/
	padding: 2%;
	/*box-shadow: 0 0 20px black;*/
	/*box-shadow: 5px 5px black;*/
	/*box-shadow: 0 0 10px black;*/
	/*box-shadow: 2px 2px black;*/
}

#row-encadre h3 a{
	color: #2E6180;
	text-decoration:none;
}

#row-encadre div.span5 {
	margin: 0;
	width:310px;
}

#row-encadre div.span5 img {
	max-width:310px;
	margin-left:0%;
}

#row-encadre div.span6 {
	text-align: left;
	color:#2e6180;
	margin: 0 0 0 2%;
}

#row-encadre div.span6 img {
	display: inline;
	margin: -26% 0 0 100%;
}

.span6 h5 {
	color:#999;
}

#source {
	text-decoration:underline;
	font-weight:bold;
}

.little {
	background-image: url("../images/using/news.png");
	 /*background:url(data:image/gif;base64,<? base64_encode(file_get_contents('../images/using/papier_note_skotchgBlancGris.png'))?>;);*/
	height:243px;
	width:460px;
	float: left;
	margin-left: 20px;
	text-align: left;
}

.little a {
	margin: 0 0 0 24%;
}

#numNews {
	margin: -16.5% 0 0 85%;
}

#titreNews {
	margin: -12% 8% 0 25%;
	color:#795a37;
	height:21%;
}

#contenuNews {
	margin: 11.7% 8% 0 25%;
	color: #936532;
	height:20%;
}

#imageNews img {
	margin: 12% 0% 0 7%;
	-webkit-box-shadow: 0 0 8px black;
	-moz-box-shadow: 0 0 8px black;
	box-shadow: 0 0 8px black;
}


#vueSeule {
	border:2px solid #000;
	margin-left:5%; 
	width:85%; 
	padding: 2%;
}

#vueSeule div.span12 {
	margin: 2% 0 0 2%;
	width:97%;
}

#vueSeule div.span5 {
	margin: 0;
	width:310px;
}

#vueSeule div.span5 img {
	max-width:310px;
	margin-left:6%;
}

#vueSeule div.span6 {
	text-align: left;
	color:#2e6180;
	margin: 0 0 0 5%;
}
/* FIN NEWS */




/* FOOTER */

#footerP {
	margin: 0% 0 1% 0;
	height: 60px;
	background-color: #274f67;
	-webkit-box-shadow: 0 10px 8px black;
	-moz-box-shadow: 0 10px 8px black;
	box-shadow: 0 10px 8px black;
}

ul#footer li {	
	float : left;
	list-style : none;
	margin-top: 20px;
	margin-right:1%;
	display: block;
	color: white;
	font: 80% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Helvetica,Sans-Serif;
}

ul#footer li a {
	color: white;
}

.first {
	margin-left: 28%;
}
/* FIN FOOTER */




/* DEVIS & CONTACT */

/*#devisContact {
	height:315px;
	width:300px;
	margin: -1% 4% 0 0;
	display: inline;
	float: right;
}*/

.contact {
	margin: 0 0 0 1.5%;
}

.enveloppe {
	background-image: url("../images/using/feuille8.png");
	background-repeat: no-repeat;
	background-position: 0px 50px;
	width: 880px;
	min-height: 1020px;
	margin-left: 9%;
}

#beforeForm{
	padding-top:15%;
	margin-left:3%;
}

.enveloppe form {
	margin-left:4%;
}
.enveloppe dl{
	margin-left:0px;
	margin-top : 0;
}

#civilite-element input{
	display:inline;
}

#civilite-element label{
	display:inline;
	margin-right: 2%;
}

#Envoyer{
	width:110px;
	height:30px;
	margin-left:10%;
	border-radius:15px;
	font-weight:bold;
	font-size:1em;
	color:#235d7f;
}

#Envoyer:hover {
	border: 1px solid #215675;
	background-color: #235d7f;
	-webkit-box-shadow: 0 1px 4px black;
	-moz-box-shadow: 0 1px 4px black;
	box-shadow: 0 1px 4px black;
	color: #FFFFFF;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}


#civilite-element {
	margin-bottom:1%;
}

textarea#message {
	resize:none;
	width : 511px;
	height : 280px;
}

#replace {
	display:inline;
	float: right;
	margin-right:26%;
}

ul.errors {
	list-style:none;
	display: inline;
	width:450px;
}

ul.errors li {
	color: red;
	font-size:0.9em;
	/*font-weight:bold;*/
}

form dd {
	width: 626px;
	padding: 1% 0 0 2%;
	margin: 0 0 0 0;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}


.erreur {
	border-color:rgba(255,0,0,0.8);
}

input.erreur:focus {
	-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(255, 0, 0, 0.8);
	-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(255, 0, 0, 0.8);
	box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(255, 0, 0, 0.8);
}

/* FIN DEVIS & CONTACT */

/* Flash Messenger */

.flashMessengers {
	position: relative;
}



/* XYLAVIE */

.ajout {
	margin-left:0;
	margin-right:0;
	width:90%;
	margin-bottom:50px;
}

.ajout img { 
	display: inline-block; 
	float: right;
	margin: 20px 0 0 10px;
}

.ajout p {
	width:110%;
}


ul.nav h2 {
	color: #5aa2ce;
}

#lentite {
	text-align: center;
	width:250px;
	margin: 120px 0 0 500px;
	position: absolute;
	font-family: "Comic Sans MS";
	font-weight:bold;
	font-size:1.3em;
	color: #f9ac04;
}

label[for^="civ-M"], label[for^="civC-M"], label[for^="fumeur-"], label[for^="IPP-"], label[for^="IPT-"], label[for^="civCo-M"], label[for^="fumeurCo-"], label[for^="IPPCo-"], label[for^="IPTCo-"] {
	float: left;
	margin-right:20px;
}

label[for^="fumeur-"], label[for^="IPP-"], label[for^="IPT-"] {
	margin-right:30px;
}
/*label[for^="conjoint"] {
	float: left;
}
*/
input#civ-M, input#civC-M, input#civ-Mme, input#civC-Mme, input#civ-Mlle, input#civC-Mlle, input#fumeur-Oui, input#fumeur-Non, input#IPT-Oui, input#IPT-Non, input#IPP-Oui, input#IPP-Non, input#civCo-M, input#civCo-Mme, input#civCo-Mlle, input#fumeurCo-Oui, input#fumeurCo-Non, input#IPTCo-Oui, input#IPTCo-Non, input#IPPCo-Oui, input#IPPCo-Non {
	margin-right:3px;
	float: left;
}

/*input#conjoint-Oui {
	margin-right:30px;
}*/

#devis form {
	margin: 2% 0 0 20%;
}

#devis form th label {
	text-align: right;
	margin-right:20px;
}

#devis form tr {
	height:50px;
}

#devis .span12 {
	margin-top:5%;
	border:5px solid #235d7f;
}

#dependance {
	background-image:url("../images/xylavie/fdevisD2.jpg");
}

#epargne {
	background-image:url("../images/xylavie/fdevisE.jpg");
}

#devis h2 {
	text-align:center;
	text-decoration:underline;
	margin:5% 0 2% 0;
	color: #ffad43;
}

#devis hr {
	width:80%;
	margin: 0 0 0 10%;
	color: #ddd;
	border: 1px solid #235d7f;
}

#devis p {
	text-align:center;
	font-size:0.8em;
	color: red;
}

#devis #Envoyer {
	margin: 20px 0 20px 200px;
}

#devis select {
	width:60px;
}

select#rente {
	width:120px;
}

#devis th label:first-child {
	color: #235d7f;
}

#devis th#civC-label label:first-child, #devis th#nomC-label label:first-child, #devis th#prenomC-label label:first-child, #devis th#dateC-label label:first-child, #devis th#conjoint-label label:first-child, #devis #famille th#dateNC-label label:first-child {
	color: #69f;
}

#enfant1 th#nom1-label label:first-child, #enfant1 th#prenom1-label label:first-child, #enfant1 th#date1-label label:first-child {
	color : #c00;
}

#enfant2 th#nom2-label label:first-child, #enfant2 th#prenom2-label label:first-child, #enfant2 th#date2-label label:first-child {
	color : #03c;
}

#enfant3 th#nom3-label label:first-child, #enfant3 th#prenom3-label label:first-child, #enfant3 th#date3-label label:first-child {
	color : #090;
}

#enfant4 th#nom4-label label:first-child, #enfant4 th#prenom4-label label:first-child, #enfant4 th#date4-label label:first-child {
	color : #c90;
}

#enfant5 th#nom5-label label:first-child, #enfant5 th#prenom5-label label:first-child, #enfant5 th#date5-label label:first-child {
	color : #099;
}

label.required:after, label.optional:after {
	content: '*';
	color: red;
}

/* DEVIS RETRAITE */
label[for^="projets-"] {
	margin-bottom:10px;
}

input[name^="projets[]"] {
	display: inline;
	margin: -3px 5px 0 0;
}

label[for^="banque"]:after, label[for^="differe"]:after, label[for^="q4"]:after {
	content: '';
}

#projets-label label {
	margin-top:-140px;
}

#demande-label label {
	margin-top:-35px;
}

select#avenir {
	width: 130px;
}

#retraite {
	background-image:url("../images/xylavie/fdevisR.jpg");
}

/* EMPRUNT */


#emprunt {
	background-image:url("../images/xylavie/fdevisA.jpg");
}

#devis #emprunt form, #devis #prevoyance form {
	margin: 2% 0 0 0;
}

#projet1 input{
	width:150px;
}

#projet1 #dateE{
	width:150px;
}

#projet1{
	float: left;
	width:45%;
	margin-right:0;
	margin-left:100px;
}
#projet1 h3{
	color: #235d7f;
	text-decoration:underline;
	margin-left:60px;
}

#ident h3, #famille h3, #besoins h3, #familial h3 {
	color: #235d7f;
	text-decoration:underline;
	margin-left:-20px;
}

#emprunteur h3 {
	color: #235d7f;
	text-decoration:underline;
	margin-left:130px;
}

#coemprunteur h3 {
	color: #235d7f;
	text-decoration:underline;
	margin-left:530px;
}

#coordonnees h3 {
	color: #235d7f;
	text-decoration:underline;
	margin-left:124px;
}

#projet2 select {
	width:115px;
}

#projet2 #differe {
	width:105px;	
}

#projet1 ul.errors, #projet2 ul.errors {
	list-style:none;
	margin-left:0;
	width:250px;
}

#projet1 ul.errors li, #projet2 ul.errors li  {
	color: red;
	font-size:0.7em;
}

select#km, select#kmCo, select#garantiesE, select#garantiesC, select#contrat {
	width:110px;
}

select#profession, select#professionCo {
	width:150px;
}

#emprunteur {
	margin: 0 20px 0 200px;
}

#emprunteur ul.errors li, #coemprunteur ul.errors li, #coordonnees ul.errors li{
	color:red;
	font-size:0.7em;
}

#coordonnees {
	margin: 0 0 0 200px;
}

#emprunt #Envoyer {
	margin: 20px 0 20px 370px;
}

/*Sante */

#sante {
	background-image:url("../images/xylavie/fdevisS.jpg");
}

#ident #nbenfant, #familial #nombreenfant {
	width:90px;
}

#famille p {
	color: red;
	text-align: left;
	font-size:0.8em;
}

label[for^="q1-"], label[for^="q2-"], label[for^="q3-"] {
	float: left;
}

label[for^="q1-Oui"], label[for^="q2-Oui"], label[for^="q3-Oui"] {
	margin-right:20px;
}

#q1-Oui, #q1-Non, #q2-Oui, #q2-Non, #q3-Oui, #q3-Non {
	float: left;
	margin-right:5px;
}

#q1-label, #q2-label, #q3-label, #q4-label {
	display: block;
}

#q4-label {
 	clear: left;
}

#besoins #q3-label label, #besoins #q4-label label{
	width : 400px;
	text-align: left;
}

#besoins td {
	display:block;
}

#besoins h4 {
	color: #759ebb;
	border-bottom:1px solid black;
	width:400px;
}

#s hr {
	border: 1px solid grey;
	color: #DDDDDD;
	margin: 0 0 0 0;
	width: 80%;
}

label[for^="q4-"] {
	display: block;
	margin-right:20px;
	clear:left;
}

input[name^="q4[]"], input[name^="demande[]"] {
	display: inline;
	margin: -3px 5px 0 0;
}

#familial {
	 margin-left: 13px;enfant1
}

#confirmation .span6 {
	width:400px;
	text-align: center;
}

#check img{
	/*background-image:url("../images/xylavie/check2.jpg");*/
	height: 450px;
	border-radius: 15px;
	border: 10px solid transparent;
}

#check img {
	border: 10px solid #999;
}

#check img:hover, #card img:hover {
	border: 10px solid #22ff66;
}

#card img{
	/*background-image:url("../images/xylavie/card2.jpg");*/
	height: 450px;
	border-radius: 15px;
	border: 10px solid transparent;
}

#card img {
	border: 10px solid #999;
}

#avert {
	color:red;
	text-align: center;
	margin-top:20px;
}

.prix, .prix2 {
	margin: 190px 0 0 120px;
	position: absolute;
	width:150px;
	height:80px;
	font-size:3.3em;
	color: #FFF;
	text-align:center;
}

.tabul {
	margin-left : 30px;
}

.description {
	display: inline;
	margin-left:10px;
}

.vChamp {
	color:red;
	display : inline;
	margin-left: 10px;
}
.gras {
	font-weight : bold;
}

#conditions {
	font-size : 0.8em;
	margin-left:50px;
}


#message-label {
	display: block;
}

select#statut {
	width : 90px;
}

#prevoyance ul.errors {
	margin: 0 0 0 0;
}

#dependance .pager a, #sante .pager a,  #accident .pager a{
	margin: 0 0 0 -150px;
}
/* SCROLL TOP */

.scroll {
	bottom: 50px;
	float: right;
	padding: 58px 5px 0 0 ;
	margin-left: 1005px;
	position: fixed;
	width: 100px;
}

.scroll a {
	background: none repeat scroll 0 0 #aaaaaa;
	border-radius: 10px 10px 10px 10px;
	color: #FFFFFF;
	display: block;
	font-weight: bold;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 50px;
	cursor: pointer;
	text-decoration: none;
}

ul.errors {
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
ul.webkiit {
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 40px;
}