/* BOUTON LOGOUT*/
.logout {
	width:80px;
	height:80px;
	margin: 200px 0 0 -100px;
	position:absolute;
}

.logout a {
  text-decoration: none;
  position: fixed;
  /*padding: 30px 35px 15px 30px;*/
  width:70px;
  height:70px;
/*  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  -khtml-border-radius: 100px;
  border-radius: 100px;*/
  background: url("../images/phover.png") no-repeat;
/*  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #994400), color-stop(100%, #662d00));
  background-image: -webkit-linear-gradient(top, #994400, #662d00);
  background-image: -moz-linear-gradient(top, #994400, #662d00);
  background-image: -o-linear-gradient(top, #994400, #662d00);
  background-image: -ms-linear-gradient(top, #994400, #662d00);
  background-image: linear-gradient(top, #994400, #662d00);*/
  }

.logout a:active {
	background: url("../images/pactive.png")no-repeat;
}

.logout a:before {
	content: '';
	display: block;
	position: absolute;/*
	width: 100%;
	height: 100%;*//*
	padding: 2px;
	top: 4px;
	left: -2px;
	z-index: -1;*/
	}

#demo2 a:active:before {
	top: 0px; 
}
/* FIN BOUTON LOGOUT */