/* START */

body {
	width:1000px;
}

/* BOUTON LOGOUT*/
.logout {
	width:80px;
	height:80px;
	margin: 200px 0 0 -78px;
	position:absolute;
}

.user {
	margin: 315px 0 0 -90px;
	position:fixed;
}

.logout a {
	text-decoration: none;
	position: fixed;
	width:67px;
	height:70px;
	background: url("../images/using/sprite_button2.png") no-repeat;
  }

.logout a:active {
	background-position:-66px;
}

.logout a:before {
	content: '';
	display: block;
	position: absolute;
}

.retour {
	width:80px;
	height:80px;
	margin: 270px 0 0 -90px;
	position:absolute;
}

.retour a {
	position: fixed;
	width:90px;
	height:40px;
	background : url("../images/using/sprite_site.png") no-repeat;
}

.retour a:active{
	background-position: 0 -40px;
}

/* FIN BOUTON LOGOUT */

.span12 {
	color: #759ebb;
}

h2 {
	color: #759ebb;
}

.menu {
	margin: 2% 0 0 0;
	height: 40px;
	width: 100%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.menu li {
	float: left;
	list-style : none;
	width:100px;
	height:40px;
	background-color: #DDD;
	text-align: center;
	line-height:40px;
	/*border-radius : 10px;*/
}

.menu a {
	text-decoration:none;
	padding: 11px 0 11px 0;
}

#containerP {	
	background: url("../images/using/bg.png") repeat;
	min-height:800px;
}

.table tbody tr:hover td,.table tbody tr:hover th{background-color:inherit;}

.table td, .table th {
	text-align: center;
}
